@custom-media --viewport-medium (max-width: 1000px);

.app {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (--viewport-medium) {
    background: var(--mainColor);
  }
}
