@custom-media --viewport-medium (max-width: 1000px);
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --bgColor: gold;
  --fontColor: #000;
  --mainColor: coral;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: var(--fontColor);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
}

:--heading {
  color: var(--mainColor);

  @media (--viewport-medium) {
    color: var(--fontColor);
  }
}

a {
  color: rebeccapurple;

  &:hover {
    color: yellowgreen;
  }
}
